.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.deletable {
  cursor: pointer;
}

.deletable:hover {
  text-decoration: underline;
}

.blue-link {
  color: #FFF;
}

.blue-link:hover {
  color: #FFF;
  text-decoration: none;
}

.listing-info {
  color: #EAFDF8;
}
/*#category-list {
  margin: 2rem;
  background-color: lightgrey;
  border: 2px solid white;
  box-sizing: border-box;
}*/

.content {
  border-radius: 5px;
  /*background: -webkit-linear-gradient(top, rgba(17,2,49,0.75), rgba(17,2,49,0)),-webkit-linear-gradient(bottom left, #eb6670, #f67f7c, #f9ac97, #f1b79f, #e1bea7, #c3bcb0, #8aabb2, #4e95b2, #2588b6);*/
  background-color: rgba(197,195,198,0.3);
  margin-bottom: 2rem;
  padding: 8rem 2em;
  transition: all 0.3s ease 0s;
  /*line-height: 4em;*/
  text-align: center;
}

.content:hover {
  background-color: rgba(197,195,198,0.9);
}

html {
  height: 100%;
}

body {
  /*background: -webkit-linear-gradient(top, rgba(17,2,49,0.75), rgba(17,2,49,0)),-webkit-linear-gradient(bottom left, #eb6670, #f67f7c, #f9ac97, #f1b79f, #e1bea7, #c3bcb0, #8aabb2, #4e95b2, #2588b6);*/
}

.btn {
    /*background: #428BCA;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    height: 60px;
    width: 150px;
    line-height: 60px;
    margin: 25px 25px;
    text-align: center;
    border: 0;*/
    transition: all 0.3s ease 1s;
}

.btn:hover {
  background: lightblue;
}

p {
  display:inline-block;
  transform: scale(1,2);
}
