{{outlet}}
<p>Now showing adds for the section: {{model.section}} in {{model.location}}</p>
<!-- {{ category-edit-tile category=model editCategory='editCategory' }} -->
<p>
  this is categoryhbs
</p>
