<div class="jumbotron">
  <h5>the current date is {{current-date}}</h5>
</div>
<div class="row">
  {{#each model as |category|}}
  <div class="col-md-4 text-center">
    <div class="content">
      {{category-info-tile category=category listing=listing}}
    </div>
  </div>
  {{/each}}
</div>
