
<ul>
  {{#each model as |category|}}
    <li>{{#link-to 'category' category.id}}{{category-info-tile category=category}} {{/link-to}}</li>
  {{/each}}
</ul>

{{ category-new-tile category=category createCategory='createCategory'}} <!-- admin stuff -->
